@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Be Vietnam Pro", "Verdana", "Tahoma", "Montserrat", "Calibri",
      sans-serif;
    font-display: swap;
    scroll-behavior: smooth;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  @keyframes loader {
    0%,
    100% {
      transform: scale(0);
    }

    40%,
    80% {
      transform: scale(1);
    }
  }

  /* @font-face {
    font-family: "Be Vietnam Pro";
    src:
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf") format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-Italic.ttf") format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf") format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-BoldItalic.ttf") format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf") format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBoldItalic.ttf")
        format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf") format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-LightItalic.ttf") format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf") format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-MediumItalic.ttf")
        format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf") format(truetype),
      url("/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBoldItalic.ttf")
        format(truetype);
  } */
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
